.p-background {
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  padding: 60px 0;
  margin: -40px 0;

  &.-music {
    background: linear-gradient(-135deg, rgba($color: #E4A972, $alpha: 0.7), rgba($color: #9941D8, $alpha: 0.7)),
                url("/assets/bg_music.jpg");
    background-position: bottom center;
    background-size: cover;
  }

  @include SP {
    margin: -40px -3.5%;
  }
}