.p-btnWrap {
  display: flex;

  @include SP {
    flex-direction: column;
  }

  &__btn {
    width: 250px;
    margin: 0 auto 30px;

    @include SP {
      width: 60%;
    }
  }
}

.p-weekOperationBtn {
  display: flex;
  margin: 0 0 30px;

  @include SP {
    padding: 0 $sidePaddingSP;
  }

  &__btn {
    width: 40%;

    &.-left {
      margin: 0 auto 0 0;
    }

    &.-right {
      margin: 0 0 0 auto;
    }
  }
}