.p-userForm {
  padding: 30px 40px 20px;
  
  &.-bg {
    background: rgba($color: white, $alpha: 0.8);
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bolder;
    text-align: center;
  }

  &__inputWrap {
    margin: 0 0 20px;
  }

  &__label {
    font-size: 1.8rem;
    font-weight: bolder;
  }

  &__input {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px;
    font-size: 1.8rem;
  }
  
  &__btn {
    margin: 30px auto;
  }
}

.p-reservationForm {
  &__table {
    width: 100%;
    margin: 0 auto 40px;
    border: 1px solid #e2e3e5;
  }

  &__header {
    width: 35%;
    padding: 10px 20px;
    border: 1px solid #e2e3e5;
    background: #f6f6f6;
    text-align: left;
  }

  &__data {
    width: 65%;
    padding: 10px 20px;
    border: 1px solid #e2e3e5;

    &.-nonePadding {
      padding: 0;
    }

    &.-withBtn {
      display: flex;
      width: 100%;
      border: none;
    }
  }

  &__input {
    width: 100%;
    padding: 5px;
    font-size: 1.7rem;

    &.-withBtn {
      flex: 0 1 75%;
      margin: 0 10px 0 0;
    }
  }
  
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    color: $linkBlue;

    &:hover {
      text-decoration: underline;
    }
  }

  &__btn {
    width: 65%;
    margin: 30px auto;
  }

  &__smallBtn {
    flex-grow: 1;
    border: 1px solid #1e7e34;
    border-radius: 4px;
    background: #218838;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}