.l-header {
  height: 60px;
}

.l-main {
  padding: 40px 0;
}

.l-userForm {
  max-width: 650px;
  margin: 0 auto;
}

.l-reservationForm {
  max-width: 650px;
  margin: 0 auto 30px;
}

.l-table {
  width: 582px;
  margin: 0 auto;
}

.l-timeCard {
  max-width: 650px;
  margin: 0 auto;
}