.l-header {
  height: $headerHeight;
}

.l-main {
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  padding: 40px 0;
}

.l-footer {
  height: $footerHeight;
}

.l-userForm {
  max-width: 650px;
  margin: 0 auto;
}

.l-reservationForm {
  max-width: 650px;
  margin: 0 auto 30px;
}

.l-table {
  width: 582px;
  margin: 0 auto;
}

.l-timeCard {
  max-width: 650px;
  margin: 0 auto;
}