.l-header {
  height: $headerHeight;
}

.l-main {
  min-height: calc(100vh - #{$headerHeight} - #{$footerHeight});
  padding: 40px 0;

  @include SP {
    min-height: calc(100vh - #{$footerHeight});
    padding: calc(#{$headerHeight} + 40px) $sidePaddingSP 40px;
  }
}

.l-footer {
  height: $footerHeight;
}

.l-userForm {
  max-width: 650px;
  margin: 0 auto;
}

.l-reservationForm {
  max-width: 650px;
  margin: 0 auto 30px;
}

.l-table {
  width: 582px;
  margin: 0 auto;

  @include SP {
    width: 100vw;
    margin: 0 -$sidePaddingSP;
  }
}

.l-timeCard {
  max-width: 650px;
  margin: 0 auto;
}