// ページタイトル
.c-pageTitle {
  margin: 0 0 40px;
  font-size: 2.8rem;
  text-align: center;

  &.-white {
    color: white;
  }
}

.c-subTitle {
  margin: 0 0 40px;
  font-size: 2.2rem;
  text-align: center;
}

.c-centerText {
  text-align: center;
}

// リンク
.c-link {
  transition: 0.3s ease-out;

  &:hover {
    text-decoration: underline;
    opacity: 0.7;
  }
}

// ボタン
.c-button {
  display: block;
  width: 90%;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-size: 1.8rem;
  line-height: 50px;
  font-weight: bolder;
  text-align: center;
  transition: 0.3s ease-out;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &.-blue {
    border: 1px solid #0062cc;
    background: #007bff;
    color: white;
  }

  &.-red {
    border: 1px solid #bd2130;
    background: #c82333;
    color: white;
  }

  &.-green {
    border: 1px solid #1e7e34;
    background: #218838;
    color: white;
  }

  &.-outlineGray {
    border: 1px solid #6C7577;
    color: #6c757d;

    &:hover {
      border: 1px solid #6c757d;
      background: #6c757d;
      color: white;
    }
  }
}

// フォームのボックス
.c-formBox {
  border-radius: 10px;
  background: rgba($color: white, $alpha: 0.8);
}

// アラート
.c-alertBox {
  margin: 0;
  padding: 20px 0;
  text-align: center;

  &.-danger {
    border: 1px solid #f5c6cb;
    background: #f8d7da;
    color: #721c24;
  }

  &.-success {
    border: 1px solid #b8daff;
    background:#cce5ff;
    color: #004085;
  }
}

// エラー
.c-errorBox {
  padding: 15px 2em;
  border: 1px solid #f5c6cb;
  background: #f8d7da;
  color: #721c24;
}

// テーブル関係
.c-bodyHeader {
  background: #f6f6f6;
}

.c-week {
  text-align: center;
  background: #ffffff;

  &.-saturday {
    background: #d9e3ec;
    color: #4466bb;
  }

  &.-sunday {
    background: #eeddd9;
    color: #bb5555;
  }
}

// タイムカード
.c-timeCard {
  display: flex;
  margin: 0 0 20px;
  border: 1px solid #f2dae8;
  border-radius: 5px;
  color: #333333;
  transition: 0.4s ease-out;

  &:hover {
    opacity: 0.7;

    .c-timeCard__name {
      background: #f2dae8;
    }
  }

  &__time {
    padding: 10px 20px;
    background: #f2dae8;
  }

  &__name {
    flex-grow: 1;
    padding: 10px 20px;
    transition: 0.4s ease-out;
  }
}

// 左矢印
.c-leftArrow {
  position: relative;

  &:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 3px solid;
    border-left: 3px solid;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(-45deg) translate(0, -50%);

    &.-outlineGray {
      border-color: #6c757d;
    }
  }
}

// 左矢印
.c-leftArrow {
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 3px solid;
    border-left: 3px solid;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: rotate(-45deg) translate(0, -50%);

    // &.-outlineGray {
    //   border-color: #6c757d;
    // }
  }
}

// 右矢印
.c-rightArrow {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 3px solid;
    border-right: 3px solid;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: rotate(45deg) translate(0, -50%);

    // &.-outlineGray {
    //   border-color: #6c757d;
    // }
  }
}

// buttonのデザインを削除
.c-noneBtn {
  padding: 0;
  border: none;
  background: none;
}